html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cascade-card {
  display: flex;
  gap: 10px;
}
.cascade-card .item {
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 16px;
  background: linear-gradient(85deg, #434343, #262626);
  transition: all 0.2s;
}
.cascade-card .item:not(:first-of-type) {
  margin-left: -100px;
  box-shadow: -30px 0 30px -20px #000;
}
.cascade-card .item:hover {
  transform: translateY(-1rem) rotate(3deg);
}
.cascade-card .item:hover ~ .item {
  transform: translateX(80px);
}
