html,
body {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.container .carousel {
  display: flex;
  animation: carousel-anime 6s linear infinite;
}
.container .carousel div {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .carousel .item1,
.container .carousel .item4 {
  background-color: pink;
}
.container .carousel .item2 {
  background-color: green;
}
.container .carousel .item3 {
  background-color: yellow;
}
@keyframes carousel-anime {
  0% {
    transform: translate(0px);
  }
  16.5% {
    transform: translate(-100px);
  }
  33% {
    transform: translate(-100px);
  }
  49.5% {
    transform: translate(-200px);
  }
  66% {
    transform: translate(-200px);
  }
  82.5% {
    transform: translate(-300px);
  }
  100% {
    transform: translate(-300px);
  }
}
